#
# ACS
#
ACS__API_TOKEN=ey****bar
ACS__CENTRAL_ENDPOINT=foo.bar.com:443

#
# DH
#
# CATALOG_URL="https://github.com/redhat-appstudio/tssc-sample-templates/blob/main/all.yaml"

#
# SCM
#

# bitbucket.org
BITBUCKET__APP_PASSWORD=foo****bar
BITBUCKET__HOST=bitbucket.org
BITBUCKET__USERNAME=myUser
BITBUCKET__PROJECT=myProject
BITBUCKET__WORKSPACE=myWorkspace


# github.com
GITHUB__ORG=myOrg
GITHUB__ORG_TOKEN=ghp_foo****bar


# gitlab.com
GITLAB__HOST=gitlab.com
# The application is used for DH auth
# GITLAB__APP__CLIENT__ID=foo****bar
# GITLAB__APP__CLIENT__SECRET=gloas-foo***bar
GITLAB__ORG=myOrg
GITLAB__TOKEN=glpat-foo****bar

#
# CI
#

# Jenkins
JENKINS__TOKEN=foo****bar
JENKINS__URL=http://foobar.com
JENKINS__USERNAME=myUser

#
# Image registries
#

# Artifactory
# TODO

# Nexus
# TODO

# Quay
QUAY__API_TOKEN=foo****bar
QUAY__DOCKERCONFIGJSON='{"auths":{"quay.io":{"auth":"foo****bar=","email":""}}}'
QUAY__HOST=quay.io
QUAY__URL=https://quay.io
