---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: rhtap-install
spec:
  params:
    - name: ocp-login-command
      type: string
      description: ""
    - name: git-repo
      type: string
      default: "rhtap-cli"
    - name: git-url
      type: string
      default: "https://github.com/redhat-appstudio/rhtap-cli.git"
    - name: git-revision
      type: string
      default: "main"
  volumes:
    - name: rhtap-cli-volume
      secret:
        secretName: rhtap-cli-install
  steps:
    - name: install
      image: quay.io/rhtap/rhtap-e2e:latest
      volumeMounts:
        - name: rhtap-cli-volume
          mountPath: /usr/local/rhtap-cli-install
      script: |
        #!/bin/sh
        set -o errexit
        set -o nounset
        set -o pipefail

        # Login to OpenShift
        export KUBECONFIG=$(pwd)/kubeconfig
        echo "[INFO]Login: $(params.ocp-login-command)"
        $(params.ocp-login-command) >/dev/null
        echo "[INFO]Console: $(kubectl get routes -n openshift-console console -o jsonpath='{.spec.port.targetPort}://{.spec.host}')"

        # Clone the rhtap-cli repository
        cd "$(mktemp -d)"
        echo -e "[INFO]Cloning repo name '$(params.git-repo)' with revision '$(params.git-revision)' from url '$(params.git-url)'"
        git clone "$(params.git-url)" .
        git checkout "$(params.git-revision)"

        # Deploy rhtap
        export GITHUB__APP__ID GITHUB__APP__CLIENT__ID GITHUB__APP__CLIENT__SECRET \
        GITHUB__APP__PRIVATE_KEY GITOPS__GIT_TOKEN GITHUB \
        GITHUB__APP__WEBHOOK__SECRET GITLAB__TOKEN JENKINS_API_TOKEN JENKINS_URL JENKINS_USERNAME
        ./integration-tests/scripts/minio.sh
        ./integration-tests/scripts/install.sh
